<div class="header">
  <div class="side-nav">
    <a href="#" class="logos">
      <img ngSrc="assets/images/logo-white.png" height="80" width="150" class="logo-img">
      <img ngSrc="assets/images/only-logo.png" class="logo-icon" height="45" width="35">
  </a>
  <hr>
  <ul class="nav-links">
      <li><a href="#"><fa-icon [icon]="faGauge" class="link-icon"></fa-icon><p>Dashboard</p></a></li>
      <!-- <li><a href="#"><fa-icon [icon]="faChartLine" class="link-icon"></fa-icon><p>Currencies</p></a></li>
      <li><a href="#"><fa-icon [icon]="faUser" class="link-icon"></fa-icon><p>&nbsp;Profile</p></a></li>
      <li><a href="#"><fa-icon [icon]="faWrench" class="link-icon"></fa-icon><p>Settings</p></a></li> -->
      <div class="active"></div>
  </ul>
</div>
</div>

