
<div id="container">
  <div id="sidebar">
    <app-navbar />
  </div>
  <div id="content"> 

    <app-real-time-cards />
    
  <div class="flex space-x-8 h-500">

    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title mb-6">Top 15 Coins By Marketcap</h2>
        <div class="card-actions justify-end">
          <app-top50coins class="w-full"></app-top50coins>
        </div>
      </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title mb-6">Price pr. minute</h2>
        <app-line-chart class="w-full"></app-line-chart>
        <div class="card-actions justify-end">
        </div>
      </div>
    </div>
  
  </div>
    
    

    
  
  </div>
  </div>